@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}
body{
color: #fff;
    background-color: #e9ff99;
    background-image:
        radial-gradient(at 9% 89%, hsla(215, 90%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 72% 6%, hsla(331, 74%, 64%, 1) 0px, transparent 50%),
        radial-gradient(at 24% 19%, hsla(14, 90%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 65% 6%, hsla(6, 79%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 20% 98%, hsla(316, 72%, 64%, 1) 0px, transparent 50%),
        radial-gradient(at 44% 9%, hsla(40, 96%, 77%, 1) 0px, transparent 50%),
        radial-gradient(at 10% 9%, hsla(76, 65%, 63%, 1) 0px, transparent 50%);
    min-height: 100vh;
}
.logo{
    font-size: 30px;
    margin-top: -10px;
    font-weight: 600;
}
.nav-links{
    display: flex;
    float: right;
    list-style: none;
}
li{
    margin-left: 30px;
    font-size: 20px;
    font-weight: 500;
}
.principal{
    display: flex;
    justify-content: center;
}
.principal-2{  
    display: block;
    margin: auto;
    margin-bottom: 30px;
    width: 72vw;
    background-color: transparent;
    margin-top: 10vh;
    background-color: rgba(0, 0, 0, 0.56);
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);

}
.content{
   display: flex;
    width: 100%;
}
.main{
    padding: 20px;
    display: inline-block;
}
.main h2{
    font-size: 32px;
}
.main p{
    font-size: 20px;
    width: 500px;
}
.imagem{
    display: block;
    position: relative;
    margin-top: 5vh;
}
.imagem img{
    max-width: 500px;
    margin-top: -50px;
}
button{
    width: 250px;
    height: 40px;
    margin-top: 10px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
}
button:hover{
    border-color: #2668db;
    background-color: #2668db;
}
.rodape{
    display: flex;
    float: right;
    margin-right: 10px;
}
@media  screen and (max-width: 1075px) {
    .content{
        flex-direction: column;
    }
}
@media screen and (max-width: 725px) {
    .logo{
        font-size: 22px;
    }
    li{
        font-size: 13px;
    }
    .main{
        margin-left: -60px;
    }
    .main h2{
        font-size: 28px;
    }
    .main p{
        font-size: 15px;
    }
    button{
        font-size: 13px;
    }
    .imagem img{
        max-width: 400px;
    }
}